*{
    padding: 0;
    margin: 0;
}
h1{
    margin-bottom: 20px;
}
.calculadora{
    text-align: center;
    margin:60px auto;
}
.textviw{
    width: 210px;
    height: 40px;
    text-align: center;
    font-size:24px ;
    border-radius: 30px;
    border: 2px solid black;
}